#/bin/bash
## valid mode options: WAM-IPE, standaloneWAM, standaloneIPE, standaloneGSM (WAM w/ lsidea=.false., LEVS=64)
export MODE="standaloneWAM"

# user/job configuration (must be set here)
export ACCOUNT=UCUB0042     # computational account
export QUEUE=regular        # computational queue
export JOBNAME=casestudy2020_72hr
export CDATE=2013031600 # initialization date (idate) for atmospheric/surface input (do not include the forecast hour for restarts!)

# WAM options
export FHMAX=72 # hours to forecast from input files. think of this as a segment length
export FHRES=24 # hours between writing restart files, must be divisor of FHMAX
export FHOUT=6 # frequency of standard history file output (hours), must be divisor of FHMAX
# WAM NetCDF IO options
export nc_output=T            # create wam_fields.nc (T/F)
export delout_nc=$((3*60*60)) # output frequency to wam_fields.nc, in seconds, should be multiple of DELTIM
export nc_fields="T, T, T, T, T, F, F, F, T, T, T, T, F" # T/F array that determines which WAM variables are output to wam_fields.nc
###############   w, z, u, v, t,qr,o3,cw, o,o2,n2,den,gmol

# model timestep options
export DELTIM=60      # GSM timestep

## computational configuration (compute.config)
export WALLCLOCK=01:00:00 # HH:MM:SS

## FIXED INPUT PARAMETERS
# INPUT_PARAMETERS options (default: timederive, FIX_F107=120.0, FIX_KP=3.0):
# timeobs    - read all geomagnetic and solar input parameters from database files
# timederive - read from database for F10.7, F10.7d, Kp, and 24h Avg Kp; derive solar wind parameters from F10.7/Kp
# fixderive  - specify constant F10.7 (used for F10.7d) and Kp (used for 24h Avg Kp); derive as above
# fixall     - fix all fields
# realtime   - read from the .xml data if available, or use wam_input_f107_kp.txt provided in IC_DIR otherwise
export INPUT_PARAMETERS=fixderive
## if you are using fixderive or fixall, uncomment the following and set your fixed values
  export FIX_F107=120.0     # F10.7 and F10.7d
  export FIX_KP=3.0         # Kp and 24hr average Kp
# export FIX_SWVEL=400.0    # solar wind velocity
# export FIX_SWDEN=5.0      # solar wind density
# export FIX_SWBY=1.0       # y-component of solar wind
# export FIX_SWBZ=1.0       # z-component of solar wind
# export FIX_GWATTS=4.5     # gigawatts
# export FIX_HPI=2          # hemispheric power index
